---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import TechLabel from "../../components/TechLabel.astro";

export async function getStaticPaths() {
  const projects = await getCollection("project");
  return projects.map((project) => ({
    params: { slug: project.slug },
    props: project,
  }));
}
type Props = CollectionEntry<"project">;

const project = Astro.props;
const { Content } = await project.render();
---

<Layout title={project.data.title} description={project.data.description}>
  <article class="">
    <div class="border-border relative border-b-2 border-dashed">
      <div class="grid-bg"></div>
      <div
        class="border-border relative z-20 border-x-2 border-dashed py-12 sm:mx-12"
      >
        <div class="prose dark:prose-invert mx-auto">
          <div>
            <h1 class="text-center">
              {project.data.title}
            </h1>
            <div class="flex justify-center gap-1">
              {
                project.data?.tech &&
                  project.data.tech.map((tech) => <TechLabel tech={tech} />)
              }
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="border-border border-b-2 border-dashed">
      <div class="border-border border-x-2 border-dashed px-6 sm:mx-12">
        <div class="prose dark:prose-invert mx-auto py-12">
          {
            project.data?.url && (
              <a
                href={`https://github.com/member87/${project.data.url}`}
                class="bg-background border-border inline-flex justify-center gap-2 rounded border px-3 py-2 no-underline hover:underline"
                target="_blank"
              >
                <Icon name="simple-icons:github" class="text-xl" />
                <span class="mr-2 text-sm">View on GitHub</span>
              </a>
            )
          }

          <Content />
        </div>
      </div>
    </div>
  </article>
</Layout>
