---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const projects = (await getCollection("project")).sort(
  (a, b) => a.data.loadFactor - b.data.loadFactor,
);

import TechLabel from "../../components/TechLabel.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Projects">
  <section class="border-b-2 border-dashed border-border">
    <div class="border-x-2 border-dashed border-border p-4 sm:mx-12 sm:p-12">
      <ul class="mx-auto grid max-w-[1000px] grid-cols-1 px-2 md:grid-cols-2">
        {
          projects.map((project) => (
            <li class="border border-border p-8 text-foreground shadow-sm hover:shadow-md">
              <a
                href={`/project/${project.slug}`}
                class="block underline-offset-4 hover:underline"
              >
                <h4 class="mb-2 pb-2 text-2xl font-semibold">
                  {project.data.title}
                </h4>
              </a>
              <span>{project.data.description}</span>
              <div class="my-2 flex flex-wrap gap-0.5 pr-2 pt-2">
                {project.data?.tech &&
                  project.data.tech.map((tech) => <TechLabel tech={tech} />)}
              </div>
              <div class="mt-6 flex flex-wrap gap-1">
                <a
                  href={`/project/${project.slug}`}
                  class="flex items-center gap-1 rounded border border-border bg-primary px-2 py-1 text-sm text-background"
                >
                  Read More
                  <Icon name="ic:outline-keyboard-arrow-right" class="size-4" />
                </a>
                {project.data.url ? (
                  <a
                    href={`https://github.com/member87/${project.data.url}`}
                    class="flex items-center gap-1 rounded border border-border bg-background px-2 py-1 text-sm text-foreground "
                  >
                    <Icon name="lucide:github" class="size-4" />
                    GitHub
                  </a>
                ) : null}
              </div>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</Layout>
