---
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import Layout from "../../layouts/Layout.astro";
import { Icon } from "astro-icon/components";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Layout title="Blog" description="My blog">
  <section class="border-border border-b-2 border-dashed">
    <div class="border-border border-x-2 border-dashed p-4 py-12 sm:mx-12">
      <ul
        class="mx-auto grid max-w-[800px] grid-cols-1 gap-4 px-2 md:grid-cols-1"
      >
        {
          posts.map(async (post) => (
            <li class="hover:bg-muted/40 block h-full rounded-sm">
              <a
                href={`/blog/${post.slug}/`}
                class="border-border block h-full border-dashed shadow-xs"
              >
                <div class="p-4 md:p-8">
                  <p class="text-foreground/60 flex items-center gap-0.5 text-sm">
                    <FormattedDate date={post.data.pubDate} />
                    <Icon name="lucide:dot" />
                    <span>
                      {
                        (await post.render()).remarkPluginFrontmatter
                          .minutesRead
                      }
                    </span>
                  </p>
                  <h4
                    class="text-foreground py-2 text-lg font-semibold md:text-xl"
                    transition:name={post.data.title}
                  >
                    {post.data.title}
                  </h4>
                  <p class="text-foreground/80 text-sm">
                    {post.data.description}
                  </p>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</Layout>
