---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import { NAME } from "../consts";
const experience = await getCollection("experience");
import TechLabel from "../components/TechLabel.astro";
---

<Layout title="Home">
  <main>
    <div class="relative z-0 opacity-40 blur-[128px]">
      <div
        class="absolute left-0 size-[800px] max-w-full rounded-full bg-sky-500/40 md:left-12"
      >
      </div>
      <div
        class="absolute right-12 hidden size-[800px] rounded-full bg-green-500/40 md:block"
      >
      </div>
    </div>

    <div class="relative z-30 flex min-h-[600px] items-center justify-center">
      <div class="max-w-[600px] px-4">
        <h1 class="mb-4 text-6xl text-foreground">{NAME}</h1>
        <p class="text-lg leading-loose text-foreground/90">
          I'm a fullstack web developer currently working with Laravel and PHP
          professionally. In all my personal projects I primarily use NextJS and
          React.
        </p>
      </div>
    </div>

    <div
      class="relative z-30 mx-auto mb-32 max-w-[1000px] rounded bg-background/40 p-2 text-foreground shadow-sm backdrop-blur-2xl"
    >
      <h2 class="my-8 text-center text-2xl font-semibold">Work Experience</h2>

      {
        experience.map(async (exp) => {
          const { Content } = await exp.render();

          return (
            <div class="p-6 md:flex">
              <div>
                <h3 class="mb-2 text-lg">
                  <span>{exp.data.company}</span>
                  <span class="md:hidden">-</span>
                  <span class="font-semibold md:block">
                    {exp.data.jobTitle}
                  </span>
                </h3>

                <div class="inline whitespace-nowrap rounded border border-green-400/50 bg-green-200/40 px-2 py-1 text-xs text-foreground/90">
                  {new Date(exp.data.startDate).toLocaleDateString("en-GB", {
                    month: "long",
                    year: "numeric",
                  })}
                  -{" "}
                  {exp.data.endDate
                    ? new Date(exp.data.endDate).toLocaleDateString("en-GB", {
                        month: "long",
                        year: "numeric",
                      })
                    : "Present"}
                  <span
                    class="duration-span ml-2 whitespace-nowrap text-xs text-foreground"
                    data-start={exp.data.startDate}
                    data-end={exp.data.endDate ? exp.data.endDate : null}
                  />
                </div>

                <div class="mt-4 flex flex-wrap gap-2">
                  {exp.data.tech &&
                    exp.data.tech.map((tech) => <TechLabel tech={tech} />)}
                </div>
              </div>

              <div class="prose mt-4 dark:prose-invert md:mt-0">
                <Content />
              </div>
            </div>
          );
        })
      }
    </div>
  </main>

  <script is:inline>
    // Client-side function to calculate the duration between two dates
    const calculateDuration = (start, end) => {
      const duration =
        (end.getTime() - start.getTime()) / (1000 * 60 * 60 * 24 * 30);
      if (duration > 12) return `${(duration / 12).toFixed(1)} years`;
      return `${duration.toFixed(1)} months`;
    };

    // Run this code after the page is fully loaded
    window.addEventListener("DOMContentLoaded", () => {
      // Get all elements with the class 'duration-span'
      const durationElements = document.querySelectorAll(".duration-span");

      // For each span element, calculate and update the duration
      durationElements.forEach((el) => {
        const startDate = new Date(el.getAttribute("data-start"));
        const endDate = el.getAttribute("data-end")
          ? new Date(el.getAttribute("data-end"))
          : new Date();
        const duration = calculateDuration(startDate, endDate);
        el.textContent = duration;
      });
    });
  </script>
</Layout>
